.swiper-buttons-container {
  display: flex;
  gap: 20px;
}

.swiper-button {
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.5;
  &:disabled {
    cursor: default;
    .next-arrow,
    .prev-arrow {
      opacity: 0.3;
    }
  }
  &:not(:disabled):hover {
    opacity: 1;
  }
  .next-arrow,
  .prev-arrow {
    path {
      stroke-width: 2px;
    }
    stroke: var(--text-color);

    transition: opacity 0.14s ease-in-out;
    height: 100%;
    width: 100%;
  }
}
